html {
    margin: 0;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 0 auto;
}

.nav-bar {
    font-family: 'Candal', sans-serif;
    width: 47rem;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    justify-content: flex-end;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar li:nth-child(1) a {
    color: #10cc96;
}

.nav-bar li:nth-child(2) a {
    color: #04b4ff;
}

.nav-bar li:nth-child(3) a {
    color: #0469ff;
}
.nav-bar li:nth-child(4) a {
    color: #f89880;
}



/* Main Content */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 47rem;
    font-family: 'Anonymous Pro';
    width: 100%;
}

.about-me-container {
    display: flex;
    flex-direction: row;
}

#about-me {
    font-size: 3.15rem; 
    color: #10cc96;
    font-family: 'Candal';
}

.hello, .hello1 {
    margin-top: -2.75rem;
    line-height: 9rem;
    margin-bottom: -5.25rem;
}

.hello1 {
    margin-left: 4rem;
}

.green-dash-frame {
    width: calc(10rem + 18rem);
    margin-left: 2rem;
}

.madeline {
    width: 17.65rem;
    height: auto;
}

.paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -13rem;
    width: 100%;
    margin-left: 10rem;
}

.paragraph-container1,
.paragraph-container2  {
    width: 100%;
    line-height: 1.25rem;
}
    

/* Projects */
.projects-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: -8rem;
}

#projects {
    font-size: 2.25rem;
    color: #04b4ff;
    font-family: 'Candal', sans-serif;
}

.blue-dash-frame {
    margin-left: -9.75rem;
    width: 100%;
    height: auto;
    margin-top: -5.25rem;

}

.projects-list {
    display: flex;
    justify-content: flex-end;
    margin-top: -6rem;   
    width: 100%;
    gap: 6.25rem;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.05rem; 
    height: 11.65rem;
    background-color: #fff;
    border: 0.2rem solid #04b4ff;
    position: relative;
}

.project-image {
    width: 100%;
    opacity: 0.45; 
    transition: opacity 0.3s ease; 
}

.project-description {
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 1;
    transition: 0.3s ease;
    text-align: center;
    padding: .3rem;
}

.project-container:hover .project-image {
    opacity: 1;
    background-color: #04B4FF;
    display: flex;
}

.project-title {
    text-align: center;
    font-size: 1.2rem;
    position: absolute;
}

.project-link {
    text-decoration:line;
    color: black;
}

.project-container:hover .project-image {
    opacity: 0;

}

/* Skills */
    
.skills-container {
    display: flex;
    flex-direction: row;
    font-family: 'Candal', sans-serif;
    color: #0469ff;
    margin-top: 3rem;
    width: 100%;
}
    
#skills {
    font-size: 2.25rem;
    margin-right: 4.8rem;
    padding-bottom: 2rem;
}

.dark-blue-dash {
    margin-left: -10.5rem;
    margin-top: -1rem;
}
    
.skills-items {
    display: flex;
    flex-wrap: wrap;
    width: 46.81rem;
    height: 3.69rem;
    justify-content: flex-end;
    text-align: center;
    color: #0469ff;
}
    
.html-vector-icon {
    position: relative;
    width: 1.74rem;
    height: 1.87rem;
}
    
.css-vector-icon {
    position: relative;
    width: 1.56rem;
    height: 1.87rem;
}
    
.js-vector-icon {
    position: relative;
    width: 1.74rem;
    height: 1.87rem;
    flex: 0 0 auto;
}
    
.git-vector-icon {
    position: relative;
    width: 2.36rem;
    height: 1.87rem;
}
    
.group-icon {
    position: relative;
    width: 1.99rem;
    height: 1.99rem;
}
    
.group-vector {
    width: 2.36rem;
    height: 2.36rem;
}
    
.figma-vector-icon {
    position: relative;
    width: 1.31rem;
    height: 2.05rem;
}
    
.github-vector-icon {
    position: relative;
    width: 2.3rem;
    height: 1.99rem;
    flex: 0 0 auto;
}
    
.terminal-vector-icon {
    position: relative;
    width: 2.18rem;
    height: 1.81rem;
}
    
.node-vector-icon {
    position: relative;
    width: 3.17rem;
    height: 1.93rem;
}

.html-vector-parent {
    border: 0.15rem solid #0469ff;
    box-sizing: border-box;
    width: 35.65rem;
    height: 3.55rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.75rem 1.25rem;
}


/* Javascript */
#project1-description, 
#project2-description, 
#project3-description {
    background-color: #04b4ff;
    color: #fff;
    display: none; 
}


/* Media Queries for index.html */

  @media only screen and (max-width: 690px) {
    .container {
        width: 90%;
        margin: 0 auto; 
    }

    .hello{
      line-height: normal;
      margin-top: .5rem;
      font-size: 2.10rem;
      margin-left: 0;
    }
  
    .hello1 {
        font-size: 2.10rem;
        margin-top: 1.75rem;
        margin-left: 3rem;
    }

    .green-dash-frame {
        width: 100%;
        margin-bottom: 3rem;
    }

    .madeline {
        width: 13rem;
        height: auto;
        position: relative;
    }

    .paragraph {
        margin-bottom: 2rem;
        margin-left: 7.5rem;
        padding-top: 3.25rem;
        font-size: .85rem;
    }

    .projects-container {
        display: flex;
        flex-direction: row;
        margin-left: 0;
        margin-bottom: 0
    }
    
    #projects {
        font-size: 1.75rem;
        margin-left: 0;
    }
    
    .blue-dash-frame {
        margin-top: -3.5rem; 
        padding-left: 3rem;
        width: 90%;

    }

    .projects-list {
        display: flex;
        gap: 2.25rem;
        align-items: center;
        padding-top: 2rem;
    }

    .projects-list .project-container:first-child {
        margin-left: 4rem;
    }

    .project-container {
        display: flex;
        height: auto;
    }

    #skills {
        font-size: 1.75rem;
    }

    .dark-blue-dash {
        margin-left: -8.25rem;
        height: auto;
        width: 20%;
    }

    .skills-items {
        height: auto;
        color: #0469ff;
        font-size: 0.8rem;
        width: auto;
        gap: 1rem;
        font-size: .8rem;
    }

    .html-vector-parent {
        border: 0.1rem solid #0469ff;
        box-sizing: border-box;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 1rem;
        width: 100%;
    }
  
    .skills-items img {
    flex: 1; 
    max-width: 2rem;
    min-width: 1rem;
    min-height: .5rem;
    max-height: 1.5rem;
    }

    footer {
    font-size: .85rem;
    } 
   }
  
  @media only screen and (max-width: 630px) {
    .hello {
        line-height: normal;
    }

    .blue-dash-frame {
        padding-left: 2.5rem;
        width: 100%;
    }

    .paragraph {
        margin-left: 3rem;
    }
  }

  @media only screen and (max-width: 555px) {
    .nav-bar ul {
      font-size: .75rem;
      gap: 2rem;
    }

    .hello,
    .hello1 {
        margin: 0;
        line-height: normal;
        font-size: 1.9rem;
    }

    .hello1 {
        margin-left: 2rem;
        flex-wrap: wrap;
    }

    .green-dash-frame {
        margin-top: -2rem;
        margin-left: 1rem;
    }
    
    .madeline {
        margin-left:0; 
        width: 10rem;
        height: auto;
    }

    .paragraph {
        width: 80%;
        margin-right: 8rem;
    }
  
    .paragraph-container1 {
        padding-top: 3rem;
        line-height: 1rem;
    }

    .paragraph-container2 {
        padding-bottom: 7rem;
    }

    #projects {
        margin-bottom: 5rem;

    }
    .blue-dash-frame {
        display: none;
    }

    .skills-container {
        flex-direction: column;
    }

    .dark-blue-dash {
        display: none;
    }

    .html-vector-parent {
        gap: 1rem;
        border: none;
        margin-bottom: 1rem;
        margin-top: -1rem;

      }
  
    .skills-items img {
      width: 2rem;
      height: 2rem;
      margin-top: -.5rem;
      padding-bottom: .25rem;
    }
  }

  @media only screen and (max-width: 490px) {
    .nav-bar ul {
        font-size: .7rem;
        gap: 1.5rem;
      }

    main {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-me-container {
        flex-direction: column;
    }
    
    .about-me-container,
    .projects-container,
    .skills-container {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hello,
    .hello1 {
        line-height: normal;
        margin: .1rem;
        font-size: 2.
    }

    .hello {
        margin-top: 1rem;
        margin-right:10rem;
    }
    
    .green-dash-frame {
        display: none;
    }
    
    .madeline {
        margin-left: 0;
        margin-top: .5rem;
    }
    
    .paragraph {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 9.5rem;
        padding-top: 11rem;
    }

    #projects {
        margin-bottom: -1rem;
        font-size: 2.5rem;
    
    }
    .projects-list {
        flex-direction: column;
        padding-top: 8rem;   
    }

    .project-container:first-child {
        margin-right: 4rem;
    }

    #skills {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        font-size: 2.5rem;
    }

    .html-vector-parent {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
    }
  }

/* Contact Page */

.main-contact {
    max-width: 100%;
    overflow: hidden; 
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-left: 8rem;
}

.contact-dash {
    top: 3rem;
    margin-right: 20rem;
}

.contact-title {
    font-size: 2.25rem;
    font-family: 'Candal', sans-serif;
    color: #feaf91;
    margin-right: 9.5rem;
}

.pink-dash {
    margin-top: -3.7rem;
    margin-left: 1.2rem;

}

.rectangle-text-icons {
    position: relative;
    text-align: center;
    margin-top: -3rem;
}

.pink-rectangle {
    position: relative;
    text-align: center;
}

.rectangle-text-icons p {
    font-size: 1.25rem;
    position: absolute;
    top: 10%;
    left: 25%;
}

.contact-icons {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center; 
    gap: .75rem;
    position: absolute;
}

.linkedIn,
.github-contact,
.email {
    width: 4rem;
    height: auto;
    margin-top: .25rem;
}

.linkedIn {
    width: 4rem;  
    height: 4rem; 
    margin-right: .45rem;
}

.github-contact {
    width: 3rem;  
    height: 3rem; 
    margin-right: .85rem;
}

.email {
    width: 3.5rem; 
    height: 3.5rem;
}



/* Media Queries for Contact Page*/

@media only screen and (max-width: 700px) {
    .nav-bar {
      width: auto;
    }
    
    .main-contact {
        margin-top: 0;
        margin-left: 0;
    }

    .contact-dash {
        margin-right: 0;
    }
    
    .contact-title {
        text-align: center;
        margin-right: 0;
        padding-bottom: 2rem;
        font-size: 1.5rem;

    }
    .pink-dash {
        display: none;
    }
    .rectangle-text-icons p {
        font-size: 1rem;
    }
   }
/* Footer */

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anonymous Pro', sans-serif;
    margin-top: 1rem;
    padding-bottom: 1rem;
}